<style>

</style>

<!-- Rotating Background Layers -->
<div class="background-layer layer1"></div>
<div class="background-layer layer2"></div>
<div class="background-layer layer3"></div>

<!-- Main Content -->
<section class=" container mx-auto px-6 py-20 flex flex-col items-center text-center relative vh100">
    <div class="text-3xl font-bold text-gray-800 center fade-in-down" style="text-align: center; margin-bottom:50px;">
        <img src="assets/images/logo.png" style="height:250px; width:250px;" class="logo-animation">
    </div>

    <h1 class="text-5xl md:text-6xl font-bold text-gray-900 leading-tight fade-in-down">
        Kuş mu? Drone mu? <br> Hızlı ve Güvenilir Ayrım
    </h1>
    <p class="mt-6 text-xl  text-black-700 max-w-2xl fade-in-down" >
        AeroGuard AI, hava sahasında güvenliği artırmak için makine öğrenmesini kullanarak kuşları ve insansız hava araçlarını hızlıca ayırt eder.
    </p>
    <div class="mt-8 fade-in-down">
        <button class="bg-black text-white px-6 py-3 rounded-full text-lg">
            <span class="inline-flex items-center">
                <span class="w-3 h-3 bg-white rounded-full inline-block mr-2"></span> Test Et!
            </span>
        </button>
    </div>

    <div class="py-16 container mx-auto flex justify-center  ">
        <div class="text-center fade-in-down">
            <img src="assets/images/drone.gif" alt="Drone icon" class="mx-auto mb-4 " style="width:175px; height:125px;">
            <p class="text-xl font-semibold text-gray-800">Drone mu?</p>
        </div>
        <div class="text-center fade-in-down">
            <img src="assets/images/bird.gif" alt="Bird icon" class="mx-auto mb-4" style="width:175px; height:125px;">
            <p class="text-xl font-semibold text-gray-800">Kuş mu?</p>
        </div>
    </div>
</section>

