<section id="team-sec">
    <h1 class="text-3xl md:text-5xl font-bold mt-4 mb-8">
        Ekibimiz!
    </h1>
    <div class="team">
        <div class="team-section">
            <div class="team-member">
                <img src="assets/images/team/Ali_altun.jpeg" alt="Ali Altun">
                <h3>Ali Altun</h3>
                <p class="role">Web Sitesi</p>
                <a href="https://www.linkedin.com/in/alibilgealtun/" target="_blank" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="assets/images/team/Doga_oytac.jpeg" alt="Doğa Oytaç">
                <h3>Doğa Oytaç</h3>
                <p class="role">Veri Ön İşleme<br>Görüntü İşleme<br>Web Sitesi</p>
                <a href="https://www.linkedin.com/in/do%C4%9Fa-oyta%C3%A7-0240b622a/" target="_blank" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="assets/images/team/zehra_ubay.jpeg" alt="Zehra Ubay">
                <h3>Zehra Ubay</h3>
                <p class="role">Veri Ön İşleme<br>Model Eğitimi</p>
                <a href="https://www.linkedin.com/in/zehraubay/" target="_blank" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="assets/images/team/eda.jpeg" alt="Eda Arslan">
                <h3>Eda Arslan</h3>
                <p class="role">Veri Ön İşleme<br>Model Eğitimi</p>
                <a href="https://www.linkedin.com/in/eda-nur-arslan/" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
        </div>
    </div>
    <div class="team">
        <div class="team-section">
            <div class="team-member">
                <img src="assets/images/team/busra.jpeg" alt="Büşra Yıldırım">
                <h3>Büşra Yıldırım</h3>
                <p class="role">Veri Ön İşleme<br>Model Eğitimi</p>
                <a href="https://www.linkedin.com/in/busrayildirim00/" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="assets/images/team/elif_cigrikci.jpeg" alt="Elif Çığırıkçı">
                <h3>Elif Çığırıkçı</h3>
                <p class="role">Veri Ön İşleme<br>Model Eğitimi</p>
                <a href="https://www.linkedin.com/in/elif-çığrıkçı" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="assets/images/team/adil.jpeg" alt="Adil">
                <h3>Adil A.</h3>
                <p class="role">Veri Ön İşleme<br>Websitesi</p>
                <a href="https://www.linkedin.com/in/do%C4%9Fa-oyta%C3%A7-0240b622a/" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="assets/images/team/merve.jpeg" alt="Merve Hacıabbasoğlu">
                <h3>Merve Hacıabbasoğlu</h3>
                <p class="role">Veri Ön İşleme<br>Model Eğitimi</p>
                <a href="https://www.linkedin.com/in/merve-hac%C4%B1abbaso%C4%9Flu-82aa64227/" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
        </div>
    </div>
</section>
